.livrosComFiltroContainer {
    display: flex; /* Alinha os elementos em linha */
    flex-direction: column; /* Direciona os elementos para baixo */
    padding: 20px; /* Espaçamento interno */
  }
  
  .titulo {
    font-size: 24px; /* Tamanho da fonte do título */
    font-weight: bold; /* Negrito */
    text-align: center; /* Centraliza o texto */
    margin-bottom: 20px; /* Espaço abaixo do título */
  }
  
  .content {
    display: flex; /* Alinha a barra lateral e os cards lado a lado */
  }
  
  .sidebar {
    margin:8px;
    width: 200px; /* Aumenta a largura da sidebar */
    padding: 20px;
    background-color: #ffffff; /* Fundo branco para destacar a sidebar */
    border-right: 1px solid #ccc;
    height: auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Sombra para a sidebar */
  }
  .sidebar form {
    display: flex;
    flex-direction: column;
  }
  
  .sidebar label {
    margin-bottom: 10px;
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    color: #495057; /* Cor do texto */
  }
  
  
  .tituloFiltro {
    font-size: 18px; /* Tamanho da fonte dos títulos dos filtros */
    margin-bottom: 10px; /* Espaço abaixo do título do filtro */
     /* Negrito */
  }
  
  /* Estilos para os cards dos livros */
  .cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); /* Aumenta o tamanho mínimo */
    gap: 20px;
    padding: 20px;
    flex: 1; /* Ocupa o espaço restante */
  }
  
  .barraDePesquisa{
      width: 100%;
      display: flex;
      justify-content: center;
  }