.HeaderAdmin{
    display: flex;
    gap: 2.5rem;
    background-color: #1b13b2;
    height: 80px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.HeaderAdmin li {
    border-bottom:2px solid transparent ;
}

.HeaderAdmin i{
    margin: 10px;
    font-size: 25px;
}
.HeaderAdmin a{
    text-decoration: none;
    color: inherit;
}
.HeaderAdmin ul{

    list-style: none;
    display: flex;
    gap:2rem; 
    color: aliceblue;
}
.iconHeader{
    width: 16px;
    filter: brightness(0), invert(1);
}
.active {
    border-bottom: 2px solid #F0F0F0;
}
@media (max-width: 768px) {
    .HeaderAdmin {
        display: flex;
        flex-direction: column;
        height: 60px;
    }

    .HeaderAdmin i {
        font-size: 18px;
    }

    .HeaderAdmin a {
        font-size: 10px;
    }

    .contentHeaderAdmin {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
}
@media (max-width:375px) {
    .HeaderAdmin {
        display: flex;
        flex-direction: column;
        height: 60px;
    }

    .HeaderAdmin i {
        font-size: 18px;
    }

    .HeaderAdmin a {
        font-size: 10px;
    }

    .contentHeaderAdmin {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
}

