/* estilos gerais */
.acervoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  position: relative; /* Para permitir o posicionamento absoluto do filtro */
}

.tituloPagina {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

/* Filtro Container alinhado à direita */
.filtroContainer {
  display: flex;
  flex-direction: column;
  position: absolute; /* Alinha o filtro à direita */
  right: 20px; /* Ajuste horizontal */
  top: 120px; /* Ajuste vertical */
  width: auto;
  max-width: 400px;
  padding: 20px; /* Espaçamento interno */
  border: 1px solid #ddd; /* Borda */
  border-radius: 10px; /* Bordas arredondadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar destaque */
  background-color: #fff; /* Fundo branco para contraste */
}

/* Formulário de filtro em linha */
.filtroForm {
  display: flex;
  flex-direction: row; /* Filtro na horizontal */
  gap: 20px; /* Espaçamento entre os filtros */
  width: 100%;
}

.filtroItem {
  margin: 0;
}

.filtroItem label {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.filtroItem input {
  margin-right: 8px;
}

/* Estilo para o container dos cards */
.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adapta os cards para diferentes tamanhos de tela */
  gap: 60px; /* Espaçamento entre os cards */
  width: 100%;
  margin-top: 100px;
}

/* Estilo específico para os cards */
.contentCard {
  margin-top: 10px;
  font-size: 14px;
  color: #666;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .cardContainer {
    grid-template-columns: 1fr 1fr;
  }

  .filtroContainer {
    position: relative;
    width: 100%;
    max-width: none; /* Remove a largura máxima */
    top: 0; /* Remove o ajuste do topo em telas menores */
    margin-bottom: 20px; /* Espaçamento entre o filtro e o conteúdo */
  }

  .filtroForm {
    flex-direction: column; /* Filtro em coluna em telas menores */
  }

  .cardContainer {
    grid-template-columns: 1fr; /* Cards empilhados em telas pequenas */
  }
}
